@model IEnumerable<Domain.Entities.Course>
@using Domain.Model
@{
    ViewData["Title"] = "Courses";
    var isStudent = User.Claims.Any(u => u.Value == ClaimTypes.Student.ToString());
}

<h2>Courses</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Message.Type alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>@ViewBag.Message.AlertMessage</p>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Credits
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
     
    @foreach (var course in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Department.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@course.Id">Details</a> |
                @if (isStudent)
                {
                    <a asp-action="Enroll" asp-route-id="@course.Id">Enroll</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>